@charset "UTF-8";

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       /*url('fonts/eb-garamond-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
	display: table;
	margin: auto;
}

body {
	background-color: #f1d6aa;
	display: table-cell;
	vertical-align: middle;
	font-family: "EB Garamond";
	color: #91764a;
	width: 800px;
	font-size: 18px;
}

h1 {
	font-weight: normal;
	font-size: 3.6em;
	text-align: center;
	margin-top: 4px;
}

h2 {
	font-weight: normal;
	font-size: 2.8em;
	text-align: center;
}

h3 {
	font-weight: normal;
	font-size: 2.2em;
	text-align: center;
}

p {
	font-weight: normal;
	font-size: 1.2em;
}

.portrait {
	width: 800px;
}

.source {
	text-align: right;
	margin-bottom: 80px;
}

.block {
	text-align: justify;
	width: 800px;
}

/***********/
/*hauptmenü*/
/***********/
.hauptmenu {
	display: flex;
	list-style: none;
	padding: 0;
	width: 800px;
 	height: 40px;
}

.menubutton {
  width: 100%;
  padding: 4px 15px;
  color: #91764a;
  background-color: #f1d6aa;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
}

.menubutton:hover{
  color: #91764a;
  background-color: #f1d6aa;
  text-decoration: underline;	
}

.menubutton_active {
  width: 100%;
  padding: 4px 15px;
  color: #91764a;
  background-color: #f1d6aa;
  text-decoration: underline;
  border: none;
  font-size: 1.5em;
}
/****************/
/*hauptmenü ende*/
/****************/