@charset "UTF-8";

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       /*url('fonts/eb-garamond-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v26-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
	display: table;
	margin: auto;
}

body {
	/*background-color: #f6dbae;*/
	background-color: #fbf1f1;
	display: table-cell;
	vertical-align: middle;
	font-family: "EB Garamond";
	/*color: #91764a;*/
	color: #3b3131;
	width: 800px;
	font-size: 18px;
}

h1 {
	font-weight: normal;
	font-size: 3.6em;
	text-align: center;
	margin-top: 4px;
}

h2 {
	font-weight: normal;
	font-size: 2.8em;
	text-align: center;
}

h3 {
	font-weight: normal;
	font-size: 2.2em;
	text-align: center;
}

h4 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}

h5 {
	font-weight: normal;
	font-size: 1.2em;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

h6 {
	font-weight: normal;
	font-size: 1.6em;
	text-align: center;
	
}

p {
	font-weight: normal;
	font-size: 1em;
}

a {
	color: #3b3131;
}

a:hover {
	color: #3f1066;
}

span {
	font-size: 1em;
}

.portrait {
	width: 400px;
	margin-left: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.photogr {
	width: 400px;
	margin-left: 200px;
	margin-top: 40px;
	margin-bottom: 0px;
}

p.photogr {
	font-size: 0.5em;
	margin-left:200px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.source {
	text-align: center;
	/*margin-bottom: 80px;*/
}

.block {
	text-align: justify;
	width: 800px;
}

/***********/
/*hauptmenü*/
/***********/
.hauptmenu {
	display: flex;
	list-style: none;
	padding: 0;
	width: 800px;
 	height: 40px;
	font-size: 1.1em;
}

.menubutton {
	width: 100%;
	padding: 4px 15px;
	/*color: #91764a;*/
	color: #3f1066;
	/*background-color: #f1d6aa;*/
	text-decoration: none;
	border: none;
	/*font-size: 1.5em;*/
}

.menubutton:hover{
	/*color: #91764a;*/
	/*color: #3a0b61;*/
	/*background-color: #f1d6aa;*/
	text-decoration: underline;	
}

.menubutton_active {
	width: 100%;
	padding: 4px 15px;
	/*color: #91764a;*/
	/*color: #3a0b61;*/
	color: #3f1066;
	/*background-color: #f1d6aa;*/
	text-decoration: underline;
	border: none;
	/*font-size: 1.5em;*/
}
/****************/
/*hauptmenü ende*/
/****************/

/*********/
/*Termine*/
/*********/
h1.month {
	font-size: 1.4em;
	font-style: italic;
	/*color: #91764a;*/
	text-align: left;
	margin-top: 60px;
}

/*.play {
	color: #91764a;
}*/

p.play {
	font-size: 1em;
	margin-left: 0px;
	margin-top: 4px;
}

h1.play {
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}


h2.play {
	font-size: 1.2em;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}

/*.sing {
	color: #91764a;
}*/

p.sing {
	font-size: 1em;
	margin-left: 20px;
}

h1.sing {
	font-size: 1.2em;
	text-align: left;
	margin-left: 0px;
}


h2.sing {
	font-size: 1.2em;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}

/****************/
/*programme-menü*/
/****************/
.prog_menu {
	display: flex;
	list-style: none;
	padding: 0;
	width: 800px;
	justify-content: center;
}

.prev {
	text-align: left;
}

.prev:hover {
	text-decoration: underline;
}

.here {
	text-align: center;
	width: 600px;
}

.next {
	text-align: right;
}

.next:hover {
	text-decoration: underline;
}

/***********************/
/*programme-menü - ende*/
/***********************/

.thanks {
	margin-top: 200px;
	margin-bottom: 200px;
}

